<div class="field">
    <div class="control">
        <label class="checkbox">
            <input (change)="useOnlyLetters" type="checkbox" />
            {{letterTitle}}
        </label>
    </div>
</div>

<!-- <div class="field">
    <div class="control">
        <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers
        </label>
    </div>
</div>

<div class="field">
    <div class="control">
        <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols
        </label>
    </div>
</div> -->